body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212121;
    color: beige;
}

.container {
    text-align: center;
}

h1 {
    color: beige;
}

.form {
    background-color: #333;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 40px 80px rgba(2, 2, 2, 2);
}

.form p {
    margin: 15px 0;
}

label {
    
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border:oklab(from green l a b);
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#result2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.box {
    width: auto;
    height: auto;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}
.button2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff6600; /* Bright button color */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link buttons */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button2:hover {
    background-color: #e65c00; /* Slightly darker on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}
